@font-face {
    font-family: work Sans;
    src: url(../fontstext/WorkSans-Medium.ttf);
    font-family: work sans l;
    src: url(../fontstext/WorkSans-Light.ttf);
}
.main2{
    display: flex;
    width: 100%
    
}
.main2-video{
    object-fit:fill;
    justify-self: start;
    width: 500px;

}
.main2-button-container{
    flex:1;
    display:flex;
    justify-content: center;
    align-items:center;
    background-image: url(../assets/backgroundmain2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.btn-primary{
    padding: 30px 20px;
    width: 300px;
    background-color: black;
    font-family: work Sans;
    border: none;
    text-transform: uppercase;
    transition: all 1s linear;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -o-transition: all 1s linear;
}
.btn-primary:hover{
    background-color: brown;
}
.offcanvas-title{
    font-family: work Sans;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}
.btn-close:focus{
    box-shadow:2px 2px 10px  rgba(0, 0, 0, 0.493) ;
}
.offcanvas-menu li{
padding: 10px 0px;
}
.offcanvas-menu li a{
    text-decoration: none;
    color:  black;
    color: inherit;
    font-family: work Sans l;
}
.translate-link{
    position: relative;
    left: 2px;
    font-weight: bold;
}
@media (min-width:1140px) {
    .main2-video{
        object-fit:fill;
        justify-self: start;
        width: 500px;
    
    }
    .main2-button-container{
        flex:1;
        display:flex;
        justify-content: center;
        align-items:center;
        background-image: url(../assets/backgroundmain2.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
}
@media (max-width:1140px) AND (min-width:900px) {
    .main2-video{
        object-fit:fill;
        justify-self: start;
        width: 350px;
    
    }
    .main2-button-container{
        flex:1;
        display:flex;
        justify-content: center;
        align-items:center;
        background-image: url(../assets/backgroundmain2.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    


}
@media (max-width:900px)  {
    .main2-video{
        object-fit:fill;
        justify-self: start;
        width: 310px;
    
    }
    .main2-button-container{
        flex:1;
        display:flex;
        justify-content: center;
        align-items:center;
        background-image: url(../assets/backgroundmain2.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    


}