@font-face {
    font-family: work Sans;
    src: url(../fontstext/WorkSans-Medium.ttf);
    font-family: work sans l;
    src: url(../fontstext/WorkSans-Light.ttf);
    font-family: Teko;
    src: url(../fontstext/Teko-Bold.ttf);
}
*{
  transition: all 0.7s linear ;
  -webkit-transition: all 0.7s linear ;
  -moz-transition: all 0.7s linear ;
  -ms-transition: all 0.7s linear ;
  -o-transition: all 0.7s linear ;
}
.product-container{
    margin-top: 30px;
    width: 100%;
    
}


.container-grid{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    width: 100%;
}
.container-grid::-webkit-scrollbar {
    display: none;
  }
.card-product p .devise{
    font-size: 14px;
}

.rating input{
display: none;
}
.rating  .fa-star{
    font-size: 20px;
    color: rgb(153, 153, 153);

}
.rating .fa-star:hover{
    color: rgb(255, 255, 0);
}
.card-product button:hover{
    color: black;
    background-color: white;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

img::selection,span::selection,h2::selection,h1::selection,p::selection{
    background-color: black;
    color: white;
}
.product-container-animation{
	-webkit-animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@media (min-width:900px) {
  .product-container-title{
    margin-top: 10px;
    font-size: 40px !important;
    font-family:Teko !important;
    color:  black;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 4px 5PX 15px rgba(0, 0, 0, 0.404);
	  -webkit-animation: text-flicker-in-glow 2s linear infinite both;
	  animation: text-flicker-in-glow 2s linear infinite both;
    z-index: 1  ;
    transition: all 0.7s linear ;
    -webkit-transition: all 0.7s linear ;
    -moz-transition: all 0.7s linear ;
    -ms-transition: all 0.7s linear ;
    -o-transition: all 0.7s linear ;
}
  .product-container p{
    font-family: work Sans;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 10px;
    margin-left: 10px;
    transition: all 0.7s linear ;
    -webkit-transition: all 0.7s linear ;
    -moz-transition: all 0.7s linear ;
    -ms-transition: all 0.7s linear ;
    -o-transition: all 0.7s linear ;
  }
  .product-container h1{
    font-family: work sans l;
    margin-bottom: 30px;
    margin-left: 10px;
    font-size: 28px;
    transition: all 0.7s linear ;
    -webkit-transition: all 0.7s linear ;
    -moz-transition: all 0.7s linear ;
    -ms-transition: all 0.7s linear ;
    -o-transition: all 0.7s linear ;
}
.card-product{
  display: inline;
  border: none;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.356);
  display: flex;
  width: 500px;
  flex-direction: column;
  padding-left: 10px;
  font-family: work sans ;
  margin: 10PX;
}
.card-img{
  object-fit: cover;
  width: 350px;
  align-self: center;
}
.card-product h2{
  margin-top: 10px;
  align-self: start;
  font-weight: 800;
  font-size: 18px;
  text-transform: capitalize;
  color: black;
  
}
.card-product button{
    margin-top: 10px;
    padding: 10px;
    align-self: center;
    margin-bottom: 10px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    background-color: black;
    color: white;
    transition: all 1s linear;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -o-transition: all 1s linear;
}
  }
  @media (max-width:900px) {
    .product-container-title{
      margin-top: 10px;
      font-size: 25px !important;
      font-family:Teko !important;
      color:  black;
      text-align: center;
      text-transform: uppercase;
      text-shadow: 4px 5PX 15px rgba(0, 0, 0, 0.404);
      -webkit-animation: text-flicker-in-glow 2s linear infinite both;
      animation: text-flicker-in-glow 2s linear infinite both;
      z-index: 1  ;
      transition: all 0.7s linear ;
      -webkit-transition: all 0.7s linear ;
      -moz-transition: all 0.7s linear ;
      -ms-transition: all 0.7s linear ;
      -o-transition: all 0.7s linear ;
      
  }
  .product-container p{
    font-family: work Sans;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 10px;
    transition: all 0.7s linear ;
    -webkit-transition: all 0.7s linear ;
    -moz-transition: all 0.7s linear ;
    -ms-transition: all 0.7s linear ;
    -o-transition: all 0.7s linear ;
      }  
  .product-container h1{
    font-family: work sans l;
    margin-bottom: 30px;
    margin-left: 10px;
    font-size: 22px;
    transition: all 0.7s linear ;
    -webkit-transition: all 0.7s linear ;
    -moz-transition: all 0.7s linear ;
    -ms-transition: all 0.7s linear ;
    -o-transition: all 0.7s linear ;
}
.card-product{
  display: inline;
  border: none;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.356);
  display: flex;
  width: 350px;
  flex-direction: column;
  padding-left: 10px;
  font-family: work sans ;
  margin: 10PX;
}
.card-img{
  object-fit: cover;
  width: 220px;
  align-self: center;
}
.card-product h2{
  margin-top: 10px;
  align-self: start;
  font-weight: 800;
  font-size: 14px;
  text-transform: capitalize;
  color: black;
  
}
.card-product button{
  margin-top: 5px;
  padding: 5px;
  align-self: center;
  margin-bottom: 5px;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  background-color: black;
  color: white;
  font-size: 12PX;
  transition: all 1s linear;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -ms-transition: all 1s linear;
  -o-transition: all 1s linear;
}
    }

@-webkit-keyframes text-flicker-in-glow {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
      text-shadow: none;
    }
    10.1% {
      opacity: 1;
      text-shadow: none;
    }
    10.2% {
      opacity: 0;
      text-shadow: none;
    }
    20% {
      opacity: 0;
      text-shadow: none;
    }
    20.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
    }
    20.6% {
      opacity: 0;
      text-shadow: none;
    }
    30% {
      opacity: 0;
      text-shadow: none;
    }
    30.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    30.5% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    30.6% {
      opacity: 0;
      text-shadow: none;
    }
    45% {
      opacity: 0;
      text-shadow: none;
    }
    45.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    50% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    55% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    55.1% {
      opacity: 0;
      text-shadow: none;
    }
    57% {
      opacity: 0;
      text-shadow: none;
    }
    57.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
    }
    60% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
    }
    60.1% {
      opacity: 0;
      text-shadow: none;
    }
    65% {
      opacity: 0;
      text-shadow: none;
    }
    65.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    75% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    75.1% {
      opacity: 0;
      text-shadow: none;
    }
    77% {
      opacity: 0;
      text-shadow: none;
    }
    77.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    85% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    85.1% {
      opacity: 0;
      text-shadow: none;
    }
    86% {
      opacity: 0;
      text-shadow: none;
    }
    86.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    100% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
  }
@keyframes text-flicker-in-glow {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
      text-shadow: none;
    }
    10.1% {
      opacity: 1;
      text-shadow: none;
    }
    10.2% {
      opacity: 0;
      text-shadow: none;
    }
    20% {
      opacity: 0;
      text-shadow: none;
    }
    20.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
    }
    20.6% {
      opacity: 0;
      text-shadow: none;
    }
    30% {
      opacity: 0;
      text-shadow: none;
    }
    30.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    30.5% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    30.6% {
      opacity: 0;
      text-shadow: none;
    }
    45% {
      opacity: 0;
      text-shadow: none;
    }
    45.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    50% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    55% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    55.1% {
      opacity: 0;
      text-shadow: none;
    }
    57% {
      opacity: 0;
      text-shadow: none;
    }
    57.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
    }
    60% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
    }
    60.1% {
      opacity: 0;
      text-shadow: none;
    }
    65% {
      opacity: 0;
      text-shadow: none;
    }
    65.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    75% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    75.1% {
      opacity: 0;
      text-shadow: none;
    }
    77% {
      opacity: 0;
      text-shadow: none;
    }
    77.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    85% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    85.1% {
      opacity: 0;
      text-shadow: none;
    }
    86% {
      opacity: 0;
      text-shadow: none;
    }
    86.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    100% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
}
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}